    body { 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      text-align: center;
      background: url("../images/splash_background.jpg");
      background-size: auto;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    .pic {
      width: 20%;
      border: solid 1px black;
      border-radius: 5px;
    }